[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "guoyuanxiong.github.io"]
	path = guoyuanxiong.github.io
	url = https://github.com/guoyuanxiong/guoyuanxiong.github.io
	branch = master
[submodule "public"]
	path = public
	url = https://github.com/guoyuanxiong/guoyuanxiong.github.io.git
	branch = master
